body {
	background: #999999;
	font-family: Times New Roman;
	margin: 0;
}

header {
	padding: 5px 5px;
	margin: 0;
}

p {
	background: none;
	color: #FFA500;
	padding: 5px 5px
}

h1 {
	color: #FFFFFF;
}

h3 {
	color: #FFA500;
}

a {
	color: #FFFFFF;
}

.secondary {
	background: none;
	color: #FFFFFF;
}

#special {
	background: black;
	border-radius: 5px;
	color: white;
	padding: 5px;
}

.row {

}

.col {
	background: black;
	border-radius: 5px;
	float: left;
	margin: 1%;
	width: 31%;
}