body {
	background: #999999;
	font-family: Arial;
}

p {
	background: none;
	color: #FFA500;
	padding: 5px 5px
}

h1 {
	color: #FFFFFF;
}

h3 {
	color: #FFA500;
}

a {
	color: #FFFFFF;
}

.secondary {
	background: none;
	color: #FFFFFF;
}

#special {
	background: #FFFFFF;
	color: #000;
}